@charset "utf-8";
/*refunds*/
#ref_content{
    padding: 0 10px;
    padding-top: 2rem;
    background: #ffffff;
}
.ref_item label{
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #666;
}
.ref_item select,
.ref_item input,
.ref_item textarea
{
    border: #d4d4d4 1px solid;
    border-radius: 3px;
    font-size: 1.6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 12px;
    margin: 1rem 0;
}
.ref_item .select{
    position: relative;
}
.ref_item .select .sanJ{
    position:absolute;
    right: 10px;
    top:1.8rem;
    display: block;
    width: 2rem;
    height: 2rem;
    z-index: 5;
}
.ref_item select{
    position: relative;
    z-index: 6;
    width: 100%;
    height: 4rem;
    text-transform: none;
    background: transparent;
    -webkit-appearance: button;
    -moz-appearance:button;
    cursor: pointer;
}
.ref_item input{
    width: 100%;
    height: 4rem;
}
.ref_item textarea{
    width: 100%;
    min-height: 10rem;
    resize: none;
}
.pic_upl{
    padding-bottom: 8rem;
}
.pic_upl a{
    display: inline-block;
    width: 6rem;
    height: 6rem;
    vertical-align: middle;
}
.pic_upl a img{
    width: 100%;
}
.pic_upl span{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 1.4rem;
    color: #b9b7b3;
}

/*ref_submitBtn*/
.ref_submitBtn{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 52px;
    background: #f1efec;
    border-top: #d4d4d4 1px solid;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
}
.ref_submitBtn a{
    display: inline-block;
    width: 28%;
    height: 36px;
    line-height: 36px;
    font-size: 1.6rem;
    color: #ffffff;
    background: #ff8808;
    border-radius: 3px;
}

/*refunds-ex*/

.pic_pz{
    padding: 1rem 0;
    text-align: center;
}
.pic_pz img{
    display: inline-block;
    max-width: 125px;
    width: 28%;
    margin: 0 2.2%;
}
.ref_submitBtn_ex a{
    width: 26%;
    margin: 0 10px;
}
.ref_submitBtn_ex .disagree{
    background: #0091d3;
}

/*refunds-dis*/
#ref_content_dis{
    padding: 0 10px;
    padding-top: 1rem;
    background: #ffffff;
}
#ref_content_dis textarea{
    width: 100%;
    min-height: 12rem;
    resize: none;
    padding: 8px 12px;
    border: #d4d4d4 1px solid;
    border-radius: 3px;
    font-size: 1.6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*ref_content_track*/
#ref_content_track{
    padding: 1rem 15px 0;
    background: #f0f0f0;
}
.track{
    width: 100%;
    padding-bottom: 1rem;
}
.track-info{
    padding: 10px;
    padding-top: 0;
    background: #ffffff;
    font-size: 1.5rem;
    border: #e5e5e5 1px solid;
    border-radius: 4px;
}
.track-info h1{
    border-bottom: #e5e5e5 1px solid;
    height: 40px;
    line-height:40px;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.h1-color{
    color: #d82400;
}
.track-time{
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
    text-align: center;
    color: #b9b7b3;
}
.track-label{
    width: 32px;
    text-align: left;
}
.track-label img{
    display: inline-block;
    width: 22px;
    margin-top: 14px;
}
.track-label-left{
    text-align: right;
}
.track-label-right img{
    transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}